

:root {

  /* ****** */
  /* COLORS */
  /* ****** */
  /* Sapphire palette */
  --clr-dark-sapphire  : hsl(198, 39%, 12%);
  --clr-medium-sapphire: hsl(196, 39%, 32%);
  --clr-light-sapphire : hsl(196, 39%, 60%);

  /* Space Cadet palette */
  --clr-dark-purple  :  hsl(254, 31%, 24%);
  --clr-medium-purple:  hsl(255, 31%, 44%);
  --clr-light-purple :  hsl(254, 31%, 64%);
  /* Black Coral palette */
  --clr-dark-grey  :    hsl(218, 8%, 20%);
  --clr-medium-grey:    hsl(216, 8%, 39%);
  --clr-light-grey :    hsl(218, 8%, 60%);
  /* Green Sheen palette */
  --clr-dark-green  :   hsl(175, 31%, 32%);
  --clr-medium-green:   hsl(175, 31%, 52%);
  --clr-light-green :   hsl(174, 31%, 68%);
  /* Prussian Blue palette */
  --clr-dark-blue  :    hsl(217, 44%, 16%);
  --clr-medium-blue:    hsl(216, 44%, 36%);
  --clr-light-blue :    hsl(216, 44%, 60%);
  /* Iris Blue palette */
  --clr-dark-iris-blue  :    hsl(232, 64%, 28%);
  --clr-medium-iris-blue:    hsl(232, 64%, 48%);
  --clr-light-iris-blue :    hsl(232, 64%, 68%);


  --clr-white      :    hsl(0, 0%, 100%);
  --clr-black      :    hsl(0, 0%, 5%);

  /* ***** */
  /* Fonts */
  /* ***** */
  --font-normal-roboto: "League Spartan", sans-serif
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--clr-dark-blue);
  color: var(--clr-white);
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

